# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/

# Virtual environment
venv/
*/venv/

# Streamlit cache
.streamlit/

# Environment variables
.env

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# other
*.sqlite3
